<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f6f8;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
        }
        main {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            width: 80%;
        }
        h1 {
            color: #333333;
            text-align: center;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        .header a {
            background-color: #28a745;
            color: #ffffff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
        }
        .header a:hover {
            background-color: #218838;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table th, table td {
            text-align: left;
            padding: 15px;
            border-bottom: 1px solid #dddddd;
        }
        table th {
            background-color: #007bff;
            color: #ffffff;
        }
        table tr:hover {
            background-color: #f1f1f1;
        }
        h3 {
            margin: 0;
        }
        p {
            margin: 5px 0 0;
            color: #666666;
        }
        .no-projects {
            text-align: center;
            color: #888888;
            margin-top: 20px;
        }
    </style>

   
</head>
<body>
    <main>
        <div class="header">
            <h1>My Projects</h1>
            <div>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </div>
        </div>
        {% if projects %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <h3>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </h3>
                                <p>{{ project.description }}</p>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-projects">You are not assigned to any projects</p>
        {% endif %}
    </main>
</body>
</html>
